@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --color-brand-1: hsl(0, 0%, 100%);
  --color-brand-2: hsl(0, 0%, 55%);
  --color-brand-3: hsl(0, 0%, 41%);

  --color-site-1: hsl(0, 0%, 0%);

  --font-alata: "Alata", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  display: block;
  margin-bottom: 12rem;
  padding: 3rem 2rem;
  position: relative;
}

.Logo {
  display: block;
  position: absolute;
  top: 3rem;
  left: 2rem;
  width: 16rem;
  z-index: 10;
}

.Logo > img {
  display: block;
  width: 100%;
}

.Menu {
  position: absolute;
  top: 3rem;
  right: 2rem;
  z-index: 10;
}

.Menu > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.NavLinks {
  display: none;
}

.NavLinks.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--color-site-1);
  padding: 12rem 3rem 3rem;
  z-index: 1;
}

.NavLinks-Link {
  margin-bottom: 2.5rem;
}

.NavLinks-Link > a {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-brand-1);
  font-family: var(--font-alata);
}

@media screen and (min-width: 768px) {
  nav {
    margin-bottom: 15rem;
  }
  .Logo {
    width: 20rem;
    left: 8%;
    top: 4rem;
  }

  .Menu {
    display: none;
  }

  .NavLinks,
  .NavLinks.open {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    top: 4.4rem;
    right: 8%;
  }

  .NavLinks-Link {
    margin-bottom: 0;
  }

  .NavLinks-Link > a {
    position: relative;
    transition: all 0.2s ease-in-out;
  }

  .NavLinks-Link > a:hover::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    height: 0.2rem;
    background-color: var(--color-brand-1);
  }
}
