@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --color-brand-1: hsl(0, 0%, 100%);
  --color-brand-2: hsl(0, 0%, 55%);
  --color-brand-3: hsl(0, 0%, 41%);

  --color-site-1: hsl(0, 0%, 0%);

  --font-alata: "Alata", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  padding: 6rem 2rem;
}

@media screen and (min-width: 768px) {
  main {
    padding: 6rem 8%;
  }
}
